<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sing up now', "signup",
      class: "btn btn-primary btn-lg btn-xlarge" %>

  <%= link_to 'Sing in', "#", class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
