<h1>This is my Home page of my Ruby on Rails app!</h1>

<h2>alexGhoro the BEST player EVER! 9k MMR DOTO</h2>

<h3>Sponsored by GG|studios</h3>
<h4>developer: @alexGhoro</h4>      


<%= link_to 'Alpha blog', articles_path %> | <%= link_to 'About', about_path %>