<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to 'GG|studios', '#' %> 
      by <a href="http://www.twitter.com/alexGhoro/"> @alexGhoro</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to 'About', about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>